@charset "utf-8";

@use "../lib/global" as g;

/*----------------------------------------------------

	初期設定を行うファイルです。
	デフォルトの設定を行う時以外、基本的に編集することはありません。

----------------------------------------------------*/

body {
	background: g.$base-color;
	color: g.$font-color;
	font-size: #{g.$font-size-px}px;
	font-size: #{g.$font-size-rem}rem;
	font-family: g.$font-family;
	line-height: g.$line-height;
}

.wrap {
	overflow: hidden;
	position: relative;
}

img {
	max-height: 100%;
  max-width: 100%;
	vertical-align: middle;
}