@charset "UTF-8";

/*--------------------------
	レイアウト用
--------------------------*/
.l-header {
  width: 100%;
}
.l-header_inner {
  padding: 5px 0;
}
.l-header_logo {
  float: left;
  width: 220px;
}
.l-header_navi {
  float: right;
  width: 700px;
}

.l-navi > li {
  float: left;
  width: 25%;
}

/*--------------------------
	module
--------------------------*/

.header {
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  line-height: 60px;
  width: 180px;
}

.navi_lists > li {
  text-align: center;
}
.navi_lists > li a {
  color: #333;
  display: inline-block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 60px;
  width: 100%;
  transition: 0.25s;
}
.navi_lists > li:hover a {
  color: #8eb4d9;
}

.mv {
  background: url(../images/mv.jpg) no-repeat center center;
  background-size: cover;
  max-height: 1080px;
  min-height: 640px;
}
.mv_inner {
  height: 100%;
}
.mv_medias {
  position: absolute;
  bottom: -150px;
  width: 100%;
}

.mainTitle {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.mainText {
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.heading-typeA {
  font-size: 32px;
  text-align: center;
}

.media {
  padding: 10px 8px;
}
.media_image {
  width: 100%;
}
.media_info {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}
.media_date,
.media_cat {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
.media_tit {
  font-size: 14px;
  height: 50px;
}
.media-typeA {
  background: #fff;
}
.media-typeB {
  background: #f9f9f9;
}

.section {
  padding: 120px 0;
}
.section-typeA {
  background: #fff;
}
.section-typeB {
  background: #ebf3fa;
}

.menu {
  background: #bbb;
  cursor: pointer;
  text-align: center;
  height: 420px;
  overflow: hidden;
}
.menu .menu_texts01 {
  color: #487ca3;
  font-weight: bold;
  position: absolute;
  left: 15px;
  bottom: 15px;
  line-height: 1;
}
.menu .menu_texts01 .menu_title {
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
}
.menu .menu_texts02 {
  color: #333;
  opacity: 0;
}
.menu .menu_texts02 .menu_title {
  font-size: 24px;
}
.menu-01 {
  background: url(../images/styleguide_img.jpg) no-repeat center center;
}
.menu-02 {
  background: url(../images/github_img.jpg) no-repeat center center;
}
.menu-03 {
  background: url(../images/mv.jpg) no-repeat center center;
  background-size: cover;
}
.menu-01 .menu_texts01 {
  color: #fff;
}
.menu-half {
  height: 280px;
}
.menu-ritch * {
  transition: all 0.5s;
}
.menu-ritch:before {
  background: rgba(255, 255, 255, 0.9);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: scale(2.5) translate(-100%, -100%) rotate(-45deg);
  transition: all 0.5s;
}
.menu-ritch:hover .menu_texts01 {
  opacity: 0;
}
.menu-ritch:hover .menu_texts02 {
  opacity: 1;
}
.menu-ritch:hover:before {
  transform: scale(2.5) translate(0, 0) rotate(-45deg);
}

.button {
  text-align: center;
  margin: 0 auto;
  width: 240px;
}
.button a {
  background: #22b573;
  color: #fff;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  padding: 15px 0;
  position: relative;
  width: 100%;
  transition: all 0.25s;
}
.button a:after {
  content: "\f019";
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}
.button:hover a {
  background: #333;
}
.button-l {
  width: 480px;
}

.footer {
  background: #f9f9f9;
  color: #666;
  font-size: 12px;
  text-align: center;
  padding: 15px 0;
}
