@charset "utf-8";

@use "../lib/global" as g;

/*----------------------------------------------------

	レイアウト設定のファイルです。
	レイアウトに関する汎用性の高いスタイルをまとめています。
	基本的には編集することはありません。

	命名規則として、クラス名の頭に 
	l-* (Layoutのl)という接頭辞をつけることを推奨します。

----------------------------------------------------*/

.l-inner {
  margin: 0 auto;
  width: g.$inner-width;
  @include g.max-screen(g.$bp-tab) {
    width: 95%;
  }
  @include g.max-screen(g.$bp-sp) {
    max-width: 480px;
  }
}

.l-pos-relative {
  position: relative;
}

.l-pos-center {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.l-clearfix:after {
  clear: both;
  content: "";
  display: block;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}
