@charset "utf-8";

@use "../lib/global" as g;

// スマートフォンメニュー
.menu-sp {
  $background: #333;
  $top: 80px;

  display: none;
  width: 100%;
  z-index: 999;

  position: fixed;
  top: $top;
  .menu-sp__inner {
    background: $background;
    overflow: scroll;
    margin-left: auto;

    //仮
    height: 400px;
  }
  @include g.max-screen(g.$bp-sp) {
    $top: 60px;
    
    top: $top;
  }
}